<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Scheduler Spring Boot demo project for Java School - event create/edit page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/w3.css">
</head>
<body>

<form action="#" th:action="@{/event}" th:object="${event}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
    <p>Start: <input type="text" th:field="*{start}"/></p>
    <p th:if="${#fields.hasErrors('start')}" th:errors="*{start}">Start Error</p>
    <p>End: <input type="text" th:field="*{end}"/></p>
    <p th:if="${#fields.hasErrors('end')}" th:errors="*{end}">End Error</p>
    <p th:if="${#fields.hasErrors('dateTimeValid')}" th:errors="*{dateTimeValid}">End Error</p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    <p><a href="/">Back to event list</a></p>
</form>

</body>
</html>