<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Scheduler Spring Boot demo project for Java School</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>start</th>
        <th>end</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${events.empty}">
        <td>no events</td>
    </tr>
    <tr th:each="event : ${events}" th:object="${event}">
        <td><span th:text="${event.id}"/></td>
        <td>
            <a th:href="@{'/event/' + ${event.id}}">
                <span th:text="${event.name}"/>
            </a>
        </td>
        <td><span th:text="*{{start}}"/></td>
        <td><span th:text="*{{end}}"/></td>
    </tr>
    </tbody>
</table>

</body>
</html>