<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Scheduler Spring Boot demo project for Java School</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/w3.css">
</head>
<body>

<table class="w3-table-all w3-centered w3-card-4">
    <thead>
    <tr class="w3-light-green">
        <th>Id</th>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${events.empty}">
        <td>no events</td>
    </tr>
    <tr th:each="event : ${events}">
        <td><span th:text="${event.id}"/></td>
        <td><span th:text="${event.name}"/></td>
        <td><span th:text="${{event.start}}"/></td>
        <td><span th:text="${{event.end}}"/></td>
        <td><a th:href="@{'/event/' + ${event.id}}">edit</a></td>
        <td><a th:href="@{'/event/delete/' + ${event.id}}">delete</a></td>
    </tr>
    </tbody>
</table>
<p><a th:href="@{/event/}">add new event</a></p>

</body>
</html>